html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to top, #333, #222);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: url("https://wallpaperaccess.com/full/2489626.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 -100px 400px black inset;
    transition: box-shadow 2s, background-size 2s;
}

header:hover {
    background-size: 105%;
    box-shadow: 0 -150px 400px black inset;
    transition: box-shadow 2s, background-size 2s;
}

label {
    margin-bottom: 50px;
}
header input[type="submit"], button{
    background-color: #222;
    color: white;
    border-radius: 10px;
    height: 30px;
    font-size: 11pt;
    outline: none;
    border: none;
    transition: background-color .2s;
}

button:hover, input[type='submit']:hover {
    background-color: goldenrod;
    transition: background-color .2s;
}
button:active, input[type='submit']:active {
    background-color: gold;
    transition: background-color .2s;
}

input[type='text'], input[type='password'] {
    height: 30px;
    border-radius: 10px;
    font-size: 11pt;
    outline: none;
    border: none;
}

/*  */
a:link, a:visited {
    color: #ccc;
    transition: color .2s, margin .3s;
    text-decoration: none;
}
a:hover {
    color: goldenrod;
    transition: color .2s, margin .3s ;
}
a:active {
    color: gold;
}

/* styling buttons with icons */
button i {
    transform: rotate(180deg);
    opacity: 0;
    margin-right: -20px;
    transition: transform .2s, opacity .2s, margin-right .2s;
}
button:hover i {
    transform: rotate(0deg);
    opacity: 1;
    margin-right: 10px;
    transition: transform .2s, opacity .2s, margin-right .2s;
}