header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 40px 20px 20px 20px;
}
header form {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    /*
    height: 32px;
    */
    grid-column: 2/11;
    grid-row: 2;
}
select {
    display: none;
}
form input[type="text"]{
    width: max-content;
}
form button[type=submit]{
    opacity: 0;
    transition: opacity .2s;
    float: right;
    vertical-align: center;
    background-color: transparent;
    color: #222;
    cursor: pointer;
}
form:hover button[type=submit]{
    opacity: 1;
    transition: opacity .2s;
}
header button{
    grid-column: 11/13;
}
.login {
    grid-row: 3;
}
.cart-items {
    grid-row: 2;
}

header .logo {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/3;
}
.logo img {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    margin: auto;
    height: 60px;
    border-radius: 50%;

}
header nav{
    grid-column: 1/11;
    grid-row: 3;
    /*
    justify-content: space-around;
    */

}
nav ul{
    padding: 0 80px 0 0;
    overflow: scroll;
    justify-content: space-around;
    /*
    display: flex;
    */
}
nav ul li {
    border-right: 1px solid #ffffff50;
    display: inline;
    text-align: center;
    padding: 0 10px;
    transition: padding .2s;
    justify-content: center;
}
nav ul li:last-child {
    border-right: none;
}
li:hover {
    padding: 0 20px;
    transition: padding .2s;
}

header .menu {
    display: none;
}
@media screen and (max-width: 600px){
    header{
        background-size: 125%;
        height: max-content;
    }

    header:hover{
        background-size: 130%;
    }

    header .logo{
        grid-column: 1/13;
        grid-row: 1/3;
        margin: 20px 0;
    }

    header form {
        grid-column: 1/13;
        grid-row: 3;
    }

    header .login {
        grid-column: 1/5;
        grid-row: 4;
    }

    header .cart-items {
        grid-column: 5/9;
        grid-row: 4;
    }

    header .menu {
        display: inline-grid;
        grid-column: 9/13;
        grid-row: 4;
    }

    header nav {
        grid-column: 1/13;
        grid-row: 5;
        width: 100%;
        height: max-content;

    }
    header nav ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    header nav li {
        border-radius: 5px;
        border-right: none;
        margin: 0;
        padding: 0;
        background-color: #00000088;
    }
    header nav li:last-child {
        grid-column: 1/3;
        margin: 0;
        padding: 0;
    }
    header nav li:hover {
        margin: 0;
        padding: 0;
    }
    select {
        display: none;
        grid-column: 1/5;
    }
}
