header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 40px 20px 20px 20px;
}

header form {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    /*
    height: 32px;
    */
    grid-column: 2/11;
    grid-row: 2;
}
select {
    display: none;
}

form input[type="text"]{
    width: calc(100% - 50px);
}
form button[type=submit]{
    opacity: 0;
    transition: opacity .2s;
    float: right;
    vertical-align: center;
    background-color: transparent;
    color: #222;
    cursor: pointer;
}
form:hover button[type=submit]{
    opacity: 1;
    transition: opacity .2s;
}
header button{
    grid-column: 11/13;
}
.login {
    grid-row: 3;
}
.cart-items {
    grid-row: 2;
}

header .logo {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/3;
}
@keyframes logo-glow {
    0% {box-shadow: 0 0 10px white}
    50% {box-shadow: 0 0 30px white;}
    100% {box-shadow: 0 0 10px white;}
}
.logo img {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    margin: auto;
    height: 60px;
    border-radius: 50%;
    animation-name: logo-glow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
header nav{
    grid-column: 1/11;
    grid-row: 3;
    /*
    justify-content: space-around;
    */

}
nav ul{
    padding: 0 80px 0 0;
    overflow: scroll;
    justify-content: space-around;
    /*
    display: flex;
    */
}
nav ul li {
    border-right: 1px solid #ffffff50;
    display: inline;
    text-align: center;
    padding: 0 10px;
    transition: padding .2s;
    justify-content: center;
}
nav ul li:last-child {
    border-right: none;
}
li:hover {
    padding: 0 20px;
    transition: padding .2s;
}

header .menu {
    display: none;
}

@media screen and (max-width: 600px){
    header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        background-size: 125%;
        width: calc(100% - 40px);
        margin: 0;
        padding: 30px 20px 10px 20px;
    }

    header:hover{
        background-size: 130%;
    }

    header .logo{
        grid-column: 1/13;
        grid-row: 1/3;
        margin: 40px 0 20px 0;
    }

    header form {
        grid-column: 1/13;
        grid-row: 3;
    }

    header .login {
        grid-column: 1/5;
        grid-row: 4;
    }

    header .cart-items {
        grid-column: 5/9;
        grid-row: 4;
    }

    header .menu {
        display: inline-grid;
        grid-column: 9/13;
        grid-row: 4;
        z-index: 100;
    }
    header .menu:focus ~ nav {
        top: -00px;
        opacity: 1;
        height: 150px;
        transition: top .5s, opacity.5s, height .5s;
    }

    header nav {
        position: relative;
        top: -250px;
        opacity: 0;
        height: 0;
        transition: top .5s, opacity.5s, height .5s;
        grid-column: 1/13;
        grid-row: 5;
        width: 100%;

    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    header nav li {
        border-radius: 5px;
        border-right: none;
        margin: 0;
        padding: 0;
        background-color: #00000088;
    }
    header nav li:last-child {
        grid-column: 1/3;
        margin: 0;
        padding: 0;
    }
    header nav li:hover {
        margin: 0;
        padding: 0;
    }
    .menu .menu-icon {
        position: relative;
        height: 10px;
        width: 10px;
        margin: auto;
    }
    .menu .menu-icon div {
        position: absolute;
        background-color: white;
        width: 10px;
        height: 2px;
        top: 4px;
        transform: rotate(0);
        transition: top .5s, transform .5s;
    }
    .menu .menu-icon div:first-child {
        position: absolute;
        background-color: white;
        width: 10px;
        height: 2px;
        top: 0;
        transform: rotate(0);
        transition: top .5s, transform .5s;
    }
    .menu .menu-icon div:last-child {
        position: absolute;
        background-color: white;
        width: 10px;
        height: 2px;
        top: 8px;
        transform: rotate(0);
        transition: top .5s, transform .5s;
    }
    .menu:focus .menu-icon div {
        top: 4px;
        transform: rotate(45deg);
        transition: top .5s, transform .5s;
    }
    .menu:focus .menu-icon div:first-child {
        top: 4px;
        transform: rotate(45deg);
        transition: top .5s, transform .5s;
    }
    .menu:focus .menu-icon div:last-child {
        top: 4px;
        transform: rotate(-45deg);
        transition: top .5s, transform .5s;
    }
}
